.section-info {
    padding-top: 94px;
    padding-bottom: 94px;
}

.info-list {
    display: flex;
}

.info-item {
    max-width: 270px;
}

.info-item:not(:last-child) {
    margin-right: 30px;
}

.info-icon {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: var(--secondary-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.info-item-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.info-item-text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
