.footer-social {
    display: flex;
    flex-direction: column;
    margin-right: 93px;
}

.social-title,
.submit-title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-icon-color);
}

.social-list {
    display: flex;
    align-items: flex-start;
}

.social-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: background-color var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--secondary-color);
}

.social-list-icon {
    width: 20px;
    height: 20px;

    transition: fill var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-dark-theme {
    fill: var(--light-icon-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--light-icon-color);
}
