:root {
    --primery-text-color: #757575;
    --title-color: #212121;
    --secondary-color: #2196f3;
    --background-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --background-card-color: #ffffff;
    --background-hero-color: #c4c4c4;
    --social-icon-light-color: #afb1b8;
    --light-icon-color: #ffffff;
    --time-hover: 250ms;
}